# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
*.egg

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
pulse_admin/staticfiles/

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
